# Virtual environments
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Ultralytics runs & cache
runs/
*.pt

# Video outputs (keep test.mp4)
videos/output_*.mp4
videos/annotated_*.mp4

# IDE files
.vscode/
.idea/

# Environment & Secrets
.env
.env.*
!.env.example


# Local SQLite Edge Database
data/
*.db

# Frontend Dashboard
dashboard/node_modules/
dashboard/dist/
dashboard/.env
dashboard/.env.*
!dashboard/.env.example


